/* RESET CƠ BẢN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background-color: #f5f6fa;
}

/* CONTAINER */
.dashboard-container {
    padding: 24px;
}

/* GRID 4 CARD */
.stat-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* CARD */
.stat-card {
    background: #ffffff;
    border-radius: 14px;
    padding: 20px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
}

/* TEXT BÊN TRÁI */
.stat-info .title {
    font-size: 14px;
    color: #7b7b7b;
    margin-bottom: 6px;
}

.stat-info h3 {
    font-size: 26px;
    font-weight: 700;
    color: #111;
    margin-bottom: 6px;
}

.stat-info .sub-text {
    font-size: 13px;
    color: #9a9a9a;
}

/* ICON BÊN PHẢI */
.stat-icon {
    width: 46px;
    height: 46px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
}

/* MÀU ICON */
.stat-icon.blue {
    background: #4c8bf5;
}

.stat-icon.green {
    background: #22c55e;
}

.stat-icon.orange {
    background: #f97316;
}

.stat-icon.purple {
    background: #a855f7;
}

/* ===== TABLE ===== */
.table-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

.table-card h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding-bottom: 12px;
    font-size: 14px;
    color: #666;
}

tbody td {
    padding: 12px 0;
    font-size: 14px;
    color: #333;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}

/* Status */
.status.borrowing {
    color: #f59e0b;
    font-weight: 500;
}

.status.borrowing {
    color: #f59e0b;
    font-weight: 500;
}

.status.overdue {
    color: #ef4444;
    font-weight: 600;
}

.status.returned {
    color: #10b981;
    font-weight: 500;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;

}
.chart-card {
    background: #fff;
    padding: 50px;
    border-radius: 12px;    
    width: 100%;
    height: 340px;
}

.chart-card h3 {
    margin-bottom: 20px;
    font-size: 18px;
}


/* RESPONSIVE */
@media (max-width: 1024px) {
    .stat-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .stat-grid {
        grid-template-columns: 1fr;
    }
}