body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f8fc;
    color: #222;
}
.loana{
    margin-bottom: 300px;
}

h3 {
    margin-bottom: 15px;
}
h1{
    margin-top: 60px;
    margin-bottom: 20px;
}
.card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 0 0 1px #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.loan-data-table {
    table-layout: fixed; 
    width: 100%;
}


.loan-data-table th:nth-child(1) { width: 40%; } 
.loan-data-table th:nth-child(2) { width: 20%; } 
.loan-data-table th:nth-child(3) { width: 20%; } 
.loan-data-table th:nth-child(4) { width: 20%; } 

thead th {
    text-align: left;
    font-weight: 600;
    padding: 10px 8px;
    border-bottom: 1px solid #999;
}

tbody td {
    padding: 12px 8px;
    color: #777;
}

.section {
    margin-bottom: 60px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.dropdown {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}



.status.borrowed {
    color: black;
    background-color: rgb(80, 80, 211);
    padding: 6px 12px;
    border-radius: 8px
}

.status.overdue {
    color: black;
    background-color: #e74c3c;
    padding: 6px 12px;
    border-radius: 8px
}

.status.returned {
    background-color: yellowgreen;
    color: black;
    padding: 6px 12px;
    border-radius: 8px

}