body {
    background-color: #F3F8FD;
}

.login-box {
    background-color: rgb(255, 255, 255);
    margin: 169px auto;
    padding: 70px 21px;
    max-width: 434px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.button{
    background-color: #656ED3;
    /* width: 150px; */
    padding: 9px 72px;
    margin-left: 100px;
    border-radius: 30px;
    color: white;
    outline: none;
    border: none;
}

h1{
    font-size: 40px;
}