/* Container chính chứa Logo và toàn bộ Menu */
.line {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.my-menu {
    display: flex;
    gap: 30px; 
    margin-left: 50px;
}


.btn-signin {
    background-color: #6c63ff;
    border: none;
    border-radius: 10px;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

.logo {
    height: 40px;
    margin-left: 50px;
}

.box{
    background-color: #FDFDFE !important;
}   


.footer{
    margin-top: 80px;
    display: flex;
    gap: 100px;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 60px 0px;
}

.logo-footer{
    height: 90px;
    justify-content: center;
}
p {
    margin-top: 25px;
    margin-bottom: 1rem;
}
.title {
    font-size: 18px;
    font-weight: 500;
    color: white;
    max-width: 500px;
}

.fontsize {
    font-size: 16px;
    color: white;
    width: 170px;
}